p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #709CD1;
  	text-align: center;
}
.pics{
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;	
}

body {
	text-align: center;
	color: #0B132B;
}
